* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}


/* header CSS */
header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 12px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo a h1 {
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo a {
    color: black;
    text-decoration: none;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    list-style: none;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.menu li:hover {
    color: #8D5858;
    transition: all 1ms linear;
}

.menu ul a {
    color: black;
    text-decoration: none;
}

div>.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons img {
    height: 22px;
    padding: 0 12px;
    margin: 0 8px;
    cursor: pointer;
}



/* shop CSS */
.shop {
    height: 350px;
    background: url(ImageShopPage/Rectangle\ 1.png) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interior_shop img {
    width: 130px;
}

.interior_shop h1 {
    font-size: 60px;
    text-align: center;
}

/* main CSS */
main {
    width: 80%;
    margin: auto;
    display: flex;
}

.blogs {
    width: 60%;
    background-color: aqua;
}

.recentPosts {
    width: 40%;
    background-color: #E89F71;
}

.blogImg img {
    width: 700px;
}

.det {
    padding: 2px;
}

.blog h3

/* footer CSS */
footer {
    margin-top: 50px;
    border-top: 1px solid #D8D8D8;
    display: flex;
    align-items: baseline;
}

.about {
    padding: 40px;
    width: 28%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.about_logo {
    display: flex;
    align-items: center;
}

.about_logo img {
    width: 60px;
}

.about p {
    width: 70%;
    color: #616161;
}

.location {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.location img {
    width: 30px;
}

.location p {
    width: 80%;
    font-size: 20px;
    font-weight: 800;
}

.website {
    font-size: 20px;
    font-weight: 800;
    color: #616161;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 15%;
    row-gap: 15px;
}

.menu h1 {
    width: 100%;
}

.gap {
    display: flex;

}

.menu a {
    text-decoration: none;
    color: #616161;
}

.m-right {
    margin-left: 50px;
    width: 23%;
}

.email {
    display: flex;
    width: 100%;
}

.email input {
    width: 80%;
    padding: 5px;
    font-size: 15px;
    background-color: #F4F5F7;
    border: none;
}

.email_image {
    background-color: #E89F71;
    height: 40px;
    width: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.email_image img {
    height: 25px;
}