* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

/* Section Styles */
section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
}

section h2 {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

section p {
    font-size: 16px;
    color: #9F9F9F;
    margin-bottom: 60px;
    line-height: 1.6;
}

/* Layout for Two Columns */
.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
}

.contact-info,
.contact-form {
    padding: 20px;
    width: 40%;
    border-radius: 10px;
}

.contact-form {
    width: 60%;
}

.contact-info {
    margin-right: 20px;
}

.contact-info div {
    margin-bottom: 20px;
}

.contact-info div h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.contact-info div p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

/* Form Styling */
.contact-form label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.contact-form label span {
    color: red;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #aaa;
    font-size: 14px;
}

.contact-form textarea {
    resize: vertical;
    height: 120px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #d8a838;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #b3882e;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-info {
        margin-right: 0;
        margin-bottom: 20px;
        width: -webkit-fill-available;
        text-align: center;
    }

    .contact-form {
        width: -webkit-fill-available;
    }
}