* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    width: 100vw;
    /* height: 100vh; */
    background-color: #FFFFFF;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    background: #f7f7f7;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.hero-content img {
    width: 100%;
}

.hero-text {
    background-color: #FFF3E3;
    position: absolute;
    bottom: 8px;
    right: 0;
    width: 50%;
    border-radius: 10px;
    text-align: left;
}

.hero-text-items {
    display: flex;
    margin: 12px 36px;
    font-family: sans-serif;
    flex-direction: column;
    row-gap: 10px;
}

.hero-text-items> :nth-child(1) {
    font-size: 16px;
    color: #333333;
    font-weight: lighter;
}

.hero-text-items :nth-child(2) {
    color: #B88E2F;
    font-size: 50px;
}

.hero-text-items :nth-child(3) {
    font-size: 16px;
    font-weight: bold;
}

.hero-text-items :nth-child(4) {
    padding: 12px 28px;
    /* margin: 15px; */
    background-color: #B88E2F;
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    width: fit-content;
}

.hero-text-items>button a {
    color: #FFFFFF;
    font-size: 19px;
    font-weight: bold;
}

.hero-text-items button:hover {
    background-color: #d8a746;
    cursor: pointer;
}

/* Categories */
.categories {
    padding: 50px;
    text-align: center;
    margin-top: 30px;
}

.categories h2 {
    font-size: 36px;
    color: #333333;
    font-weight: bolder;
}

.categories p {
    color: #666666;
    font-size: 21px;
}

.category-grid {
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    margin-top: 20px;
}

.category-grid::-webkit-scrollbar {
    display: none;
}

.category-item {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    flex-shrink: 0;
}

/* .new-arrival .arrow-btn {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-top: 8%;
    background-color: #FFF3E3;
}

.new-arrival .arrow-btn svg {
    text-align: center;
    margin: 10px;
} */

/* New Arrival Section */
.new-arrival {
    padding: 25px;
    background-color: #FFFFFF;
    text-align: center;
}

.new-arrival h2 {
    font-size: 36px;
    color: #333333;
    font-weight: bolder;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    margin-top: 28px;
}

.product-grid::-webkit-scrollbar {
    display: none;
}

.new-arrival .product-grid {
    display: flex;
    margin-top: 28px;
    overflow: scroll;
    column-gap: 50px;
}

.new-arrival .product-grid::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

.image {
    width: 250px;
    height: 260px;
}

.image img {
    width: 250px;
}

.info {
    background-color: #F4F5F7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.info h1 {
    font-size: 30px;
    color: #3A3A3A;
}

.info p {
    font-size: 15px;
    color: #898989;
}

.rate {
    display: flex;
    justify-content: space-between;
}

.rate h5 {
    font-size: 13px;
    color: #3A3A3A;
}

.rate h6 {
    font-size: 12px;
    text-decoration: line-through;
    color: #B0B0B0;
}

.discount {
    background-color: #E97171;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    right: 7px;
}

.discount p {
    color: #FFFFFF;
    font-size: 18px;
}

/* Top Ratting Section */
.top-rated {
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
}

.top-rated h2 {
    font-size: 36px;
    color: #333333;
    font-weight: bolder;
}

.product-item {
    flex-shrink: 0;
}

.top-rated .product-item img {
    border: none;
}

/* Refresh Section */
.Refresh {
    padding: 30px;
    background-color: #FFFFFF;
    text-align: center;
}

.Refresh h2 {
    font-size: 36px;
    color: #333333;
    font-weight: bolder;
}

.grid {
    display: grid;
    grid-template-columns: 2fr;
    margin-top: 20px;

}

/* Apply animation on the text */
.hero-content .animate {
    position: absolute;
    display: none;
    top: 190px;
    /* left: 122px; */
}

.animate h1 {
    font-size: 90px;
    font-weight: bolder;
    display: flex;
    gap: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #000000;
    text-align: center;
    animation: neon-pulse 1.5s ease-in-out infinite alternate;
}

/* Pulse animation */
@keyframes neon-pulse {
    0% {
        text-shadow:
            0 0 5px #FFF3E3, 0 0 10px #d4a373, 0 0 20px #d4a373, 0 0 30px #d4a373, 0 0 0px #d4a373, 0 0 0px #d4a373, 0 0 0px #d4a373;
    }

    100% {
        text-shadow:
            0 0 5px #FFF3E3, 0 0 10px #d4a373, 0 0 20px #d4a373, 0 0 30px #d4a373, 0 0 0px #d4a373, 0 0 0px #d4a373, 0 0 0px #d4a373;
    }
}

/* Hover effect to intensify glow */
.animate h1:hover {
    text-shadow:
        0 0 10px #FFF3E3,
        0 0 20px #FFF3E3,
        0 0 30px #FFF3E3,
        0 0 60px #FFF3E3,
        0 0 120px #FFF3E3,
        0 0 200px #FFF3E3;
    /* Increase the intensity */
    /* transform: scale(1.05); Slightly increase size */
}

/* Center the "before" text */
.before {
    font-weight: bold;
    position: relative;
    z-index: 2;
}

/* Style for animated words */
.virtual,
.try,
.you,
.buy {
    display: inline-block;
    opacity: 0;
    position: relative;
    z-index: 1;
    animation: slideIn 1s ease forwards;
}

/* Delay and direction for each word */
.virtual {
    animation-delay: 0.3s;
    transform: translateX(-100%);
}

.try {
    animation-delay: 0.6s;
    transform: translateX(-100%);
}

.you {
    animation-delay: 0.9s;
    transform: translateX(100%);
}

.buy {
    animation-delay: 1.2s;
    transform: translateX(100%);
}

/* Slide-in keyframes */
@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 1450px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .animate h1 {
        font-size: 80px;
        margin-top: 52px;
    }

    .product-grid,
    .category-grid {
        /* flex-direction: column; */
        align-items: center;
    }

    /* .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-subscribe input {
        width: 60%;
        margin-bottom: 10px;
    } */
}

/* @media (max-width: 1000px) */

@media (max-width: 768px) {

    /* Navbar Mobile Styling
    .navbar {
        padding: 5px 10px;
        height: auto;
        /* flex-wrap: wrap; */
    /* }  */
    /* 
    .logo img {
        width: 40px;
        height: 40px;
    }

    .logo h2 {
        font-size: 28px;
        margin: 10px 5px;
    }

    .nav-links {
        width: 100%;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }

    .nav-links li {
        margin: 5px;
        font-size: 18px;
    }

    .icons {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .icons a img {
        padding: 0 15px;
        height: 25px;
    } */

    .animate h1 {
        font-size: 36px;
        margin-top: 40px;
    }

    /* Hero Section Mobile */
    .hero {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .hero-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* .hero-content img {
        height: 80vh;
        object-fit: cover;
        width: 100%;
    } */

    .hero-text {
        position: absolute;
        bottom: -45px;
        right: 10px;
        width: 70%;
        /* height: 26%; */
        padding: 10px;
        border-radius: 5px;
        text-align: left;
    }

    .hero-text-items {
        margin: 0;
    }

    .hero-text-items :nth-child(1) {
        font-size: 10px;
    }

    .hero-text-items :nth-child(2) {
        font-size: 20px;
        margin-bottom: 4px;
    }

    .hero-text-items :nth-child(3) {
        font-size: 10px;
        line-height: 1.2;
    }

    .hero-text-items :nth-child(4) {
        align-items: center;
        padding: 5px 10px;
        width: auto;
        max-width: 200px;
    }

    .product-grid,
    .category-grid {
        align-items: center;
    }

    /* Categories Mobile */
    .categories {
        padding: 30px 15px;
    }

    .category-grid {
        /* flex-direction: column; */
        gap: 20px;
    }

    .category-item img {
        width: 100%;
        max-width: 300px;
    }

    /* New Arrival Mobile */
    .new-arrival .product-grid {
        flex-direction: row;
        scale: 1;
        height: auto;
        padding: 15px;
        overflow-x: scroll;
        gap: 40px;
    }

    .item {
        min-width: 250px;
    }

    .image {
        width: 100%;
        height: auto;
    }

    /* Top Rated Mobile */
    .top-rated {
        padding: 30px 15px;
        margin-top: 20px;
    }

    .top-rated .product-grid {
        gap: 12px;
    }

    .top-rated .product-item img {
        width: 100%;
    }

    /* Refresh Section Mobile */
    .Refresh {
        padding: 30px 15px;
    }

    .grid .grid-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .grid .grid-items img {
        width: 100%;
    }

}

@media (max-width: 500px) {
    .animate h1 {
        font-size: 24px;
    }
}

.animated-text {
    top: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 4vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10vw;
    /* Maximum initial spacing */
    color: #5d4037;
    /* Dark wood tone */
    animation: lettersCloser 2s ease-in-out forwards;
}

.animated-text span {
    display: inline-block;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeIn 2s ease forwards;
}

.animated-text span:nth-child(1) {
    animation-delay: 0.2s;
}

.animated-text span:nth-child(2) {
    animation-delay: 0.4s;
}

.animated-text span:nth-child(3) {
    animation-delay: 0.6s;
}

.animated-text span:nth-child(4) {
    animation-delay: 0.8s;
}

.animated-text span:nth-child(5) {
    animation-delay: 1s;
}

.animated-text span:nth-child(6) {
    animation-delay: 1.2s;
}

.animated-text span:nth-child(7) {
    animation-delay: 1.4s;
}

.animated-text span:nth-child(8) {
    animation-delay: 1.6s;
}

@keyframes lettersCloser {
    0% {
        letter-spacing: 10vw;
        /* Maximum spacing at the start */
    }

    100% {
        letter-spacing: 0.3em;
        /* Final spacing when letters come closer */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .animated-text {
        /* font-size: 6vw; */
        letter-spacing: 15vw;
    }
}

@media (max-width: 480px) {
    .animated-text {
        /* font-size: 8vw; */
        letter-spacing: 20vw;
    }
}