* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    width: 100vw;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

/* Popup container */
.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    overflow: hidden;
}

/* Iframe styles */
iframe {
    width: 80%;
    height: 90%;
    border: none;
}

#popup {
    background: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    width: 100%;
    height: 100%;
}

#popup::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.6);
    /* Apply filter */
    -webkit-backdrop-filter: brightness(0.5);
    /* For Safari */
    z-index: 1;
    pointer-events: none;
}

.child {
    position: relative;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f9f1e7;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
}

/* header CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 1em;
    overflow: hidden;
    top: 0;
    width: 100vw;
    height: 3.5em;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
}

.logo img {
    width: 3.125em;
}

.logo a h1 {
    font-size: 1.75em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo a {
    color: black;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    list-style: none;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.navbar li:hover {
    color: #8D5858;
    transition: all 1ms linear;
}

.navbar ul a {
    color: black;
    text-decoration: none;
}

div>.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons img {
    height: 1.4em;
    padding: 0 0.75em;
    margin: 0 0.5em;
    cursor: pointer;
}

.icon {
    display: none;
    font-size: 1.875em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
}

@media screen and (max-width: 1300px) {
    .navbar ul {
        gap: 4em;
    }
}

@media screen and (max-width: 1200px) {
    .navbar ul {
        gap: 3em;
    }
}

@media screen and (max-width: 1100px) {
    .navbar ul {
        gap: 2em;
    }
}

@media screen and (max-width: 1000px) {
    .icon {
        display: block;
    }

    .navbar .nav {
        display: none;
    }

    .navbar ul {
        gap: 1em;
    }

    .menuClick {
        top: 4em;
        right: 1em;
        position: absolute;
        background-color: white;
        padding: 0.5em 1.25em;
        border-radius: 0.625em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-size: 1.5em;
        font-weight: 500;
        gap: 0.375em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        z-index: 2000;
    }

    .menuClick li:hover {
        color: #8D5858;
        transition: all 1ms linear;
    }

    .menuClick a {
        border-bottom: 1px solid grey;
        color: black;
        text-decoration: none;
    }
}

/* shop CSS */
.shop {
    height: 22em;
    background: url(ImageShopPage/Rectangle\ 1.png) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interior_shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.interior_shop img {
    width: 8.2em;
}

.interior_shop h1 {
    font-size: 3.75em;
    text-align: center;
}

/* heading CSS */
#heading {
    height: 2.5em;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* main CSS */
.shop_container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3.125em;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.875em;
    overflow-x: auto;
    white-space: nowrap;
}

@media screen and (max-width: 1370px) {
    .row1 {
        justify-content: start;
    }
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0em;
}

.image {
    width: 100%;
    height: 16.25em;
    overflow: hidden;
}

.image img {
    height: 100%;
    width: 17.625em;
    object-fit: cover;
}

.info {
    background-color: #F4F5F7;
    padding: 0.625em;
    display: flex;
    flex-direction: column;
    row-gap: 0.32em;
}

.info h1 {
    font-size: 1.875em;
    color: #3A3A3A;
}

.info p {
    font-size: 1em;
    color: #898989;
}

.rate {
    display: flex;
    justify-content: space-between;
}

.rate h5 {
    font-size: 0.9em;
    color: #3A3A3A;
}

.rate h6 {
    font-size: 0.75em;
    text-decoration: line-through;
    color: #B0B0B0;
}

.discount {
    background-color: #E97171;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.44em;
    right: 0.44em;
}

.discount p {
    color: #FFFFFF;
    font-size: 1.2em;
}

.new {
    background-color: #2EC1AC;
}

.pages {
    width: 14em;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page {
    width: 2.5em;
    height: 2.5em;
    background-color: #B88E2F;
    color: white;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}

.page2 {
    width: 2.5em;
    height: 2.5em;
    background-color: #F9F1E7;
    color: black;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}


/* footer CSS */
footer {
    margin-top: 3.125em;
    border-top: 1px solid #D8D8D8;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1em;
}

.about {
    width: 28%;
    display: flex;
    flex-direction: column;
    row-gap: 0.625em;
}

.about_logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.about_logo img {
    width: 2.75em;
}

.about p {
    color: #616161;
}

.location {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 0.625em;
}

.location img {
    width: 1.875em;
}

.location p {
    width: 80%;
    font-size: 1.25em;
    font-weight: 800;
}

.website {
    font-size: 1.25em;
    font-weight: 800;
    color: #616161;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1em;
}

.menu h1 {
    width: 100%;
    font-size: 2em;
}

.gap {
    display: flex;

}

.menu a {
    text-decoration: none;
    color: #616161;
}

.m-right,
.m-down {
    margin-left: 3.125em;
    width: 23%;
}

.m-down {
    display: none;
}

.email {
    display: flex;
    width: 100%;
}

.email input {
    width: 80%;
    padding: 0.3125em;
    font-size: 1em;
    background-color: #F4F5F7;
    border: none;
}

.email_image {
    background-color: #E89F71;
    height: 2.5em;
    width: 2.5em;
    padding: 0.3125em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125em;
}

.email_image img {
    height: 1.6em;
}

@media screen and (max-width: 1150px) {
    .m-right {
        margin-left: 0;
    }
}

@media screen and (max-width: 1100px) {
    .menu h1 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 1000px) {
    .m-right {
        display: none;
    }

    .m-down {
        display: block;
        width: 100%;
        margin: 0;
        margin-top: 1.875em;
    }
}

@media screen and (max-width: 850px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 1.25em;
    }

    .about {
        width: 100%;
        text-align: center;
    }

    .about_logo {
        justify-content: center;
    }

    .location {
        width: 100%;
        justify-content: center;
    }

    .menu h1 {
        width: max-content;
    }

    .location p {
        width: max-content;
    }

    .menu {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .m-right {
        display: flex;
        justify-content: space-between;
    }

    .menu h1 {
        text-wrap: nowrap;
    }

    .m-down {
        display: none;
    }

    .email {
        justify-content: end;
    }
}

@media screen and (max-width: 600px) {
    .menu h1 {
        display: none;
    }

    .m-right h1 {
        display: block;
    }

    .icons img {
        margin: 0;
    }

    .navbar {
        padding: 0.9em;
    }
}

@media screen and (max-width: 470px) {
    .m-right h1 {
        font-size: 1.3em;
    }

    .menu a {
        font-size: 0.9em;
    }

    .logo img {
        width: 2.125em;
    }

    .logo a h1 {
        font-size: 1.4em;
    }

    .icons img {
        height: 1em;
    }
}

@media screen and (max-width: 450px) {
    .navbar {
        padding: 0.625em;
    }

    .icons img {
        padding: 0 0.5em;
    }
}

@media screen and (max-width: 400px) {
    .menu a {
        font-size: 0.8em;
    }
}


#search-container {
    display: none;
    position: absolute;
    align-items: center;
    gap: 5px;
    top: 50px;
}

#search-container.active {
    display: flex;
}

.search-input {
    padding: 4px;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(36 36 36);
    transition: all 0.3s ease;
    font-size: 14px;
}

.search-button {
    background-color: #E89F71;
    color: black;
    font-weight: 500;
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}